.BruiTextInput-labelText {
    margin: 0;
    font-size: 12px;
    color: var(--color5);
    text-transform: uppercase;
    font-weight: bold;
}

.BruiTextInput-input {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    width: 100%;
    color: var(--main-text-color);

    font-size: 16px;
}

.BruiTextInput-input:focus {
    border-bottom: 1px solid var(--main-text-color);
}