.ImportableRecipe {
    display: flex;
    flex-direction: row;
}
.ImportableRecipe:not(:last-of-type) {
    margin-bottom: 8px;
}

.ImportableRecipe .brui-card {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border: none;
}

.ImportableRecipe .import-button-wrapper {
    margin-top: -12px;
    margin-bottom: -12px;
    margin-right: -12px;
}

.ImportableRecipe .brui-button {
    padding: 0;
}

.ImportableRecipe .content-wrapper {
    height: 80px;
    line-height: 76px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    background-color: var(--nord-dark-color);
}
